# ─── Sanity CMS (Obrigatório se for usar o painel Admin) ──────────────
# Você encontra esses valores no painel do Sanity (sanity.io/manage)
SANITY_PROJECT_ID=bkrmr0ch
SANITY_DATASET=production
SANITY_API_VERSION=2025-02-06
# Obrigatório para o Admin (precisa ter permissão de "Editor")
SANITY_API_TOKEN=skwx8wqls168VbYDgUK9UKCPPjTyXMa6jCOKhCiTMDziK5TRvzaSbAtLM6Cz6jjd6jXJuQ10sYLrR78RYRhxGK4Le58NFsO97wXwygJhprivIsSayH4Q7mMtXa3xCzwWxpDAK5Jg4ZFZpBFdxgbUHT4YHhBqSkByjzgofAZNTe1OxX93cWo3

# ─── Área Admin Customizada (Obrigatório para o login funcionar) ─────
ADMIN_USERNAME=admin
# Senha convertida em hash. Para gerar via terminal Linux (requer openssl):
# echo -n 'SUA_SENHA' | openssl dgst -sha256 -hmac 'SUA_SESSION_SECRET'
ADMIN_PASSWORD_HASH=81b7aaea4fddccc479be6d96a81cb9dd41bb4fe851fc9b6c179d806dea2dd3d1
# Uma palavra-chave aleatória e longa usada para a segurança do login
SESSION_SECRET=minha-chave-secreta-guiadeviagem-123

# ─── SEO / Otimização (Totalmente Opcionais) ─────────────────────────
PUBLIC_GOOGLE_SITE_VERIFICATION=
PUBLIC_BING_SITE_VERIFICATION=
