---
import YukinaConfig from "../../yukina.config";
import BaseHead from "../components/BaseHead.astro";
---

<html lang={YukinaConfig.locale}>
  <BaseHead />
  <body class="overflow-y-hidden">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W8FQBNKB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <slot />
  </body>
</html>

<style>
  body {
    @apply bg-[var(--background-color)];
  }
</style>
